/* RESET E IMPOSTAZIONI GENERALI */

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, arial, sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h2 {
    font-weight: 500;
    font-size: 24px;
    color: #3c4043;
    line-height: 32px;
    width: 66%;
    margin-bottom: 30px;
    margin-top: 15px;
}

p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    line-height: 24px;
    width: 66%;
    margin-bottom: 50px;
}

body {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    color: #3367d6;
    text-decoration: none;
}